<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237630468649-vv2ig7jgle00pvtks55leldbuslqtprt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237630468649-vv2ig7jgle00pvtks55leldbuslqtprt</string>
	<key>API_KEY</key>
	<string>AIzaSyBN3_r8wlIVYQ3b189I-Icg0H1pC3aLq6k</string>
	<key>GCM_SENDER_ID</key>
	<string>237630468649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kurdwork</string>
	<key>PROJECT_ID</key>
	<string>kurdwork-99</string>
	<key>STORAGE_BUCKET</key>
	<string>kurdwork-99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237630468649:ios:32aa8ae63f97c08f586238</string>
</dict>
</plist>